body {
    margin: 10% 10% 0 10%;
    text-align: center;
}

.card {
    margin: auto;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    border-radius: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    
}

.name {
    font-weight: bold;
    margin-bottom: 15px;
}

.bio {
    padding: 0 20px 0 20px;
}

.btn {
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}

.btn:hover {
    background-color: gray;
}