#parrafo {
    color: red;
}

.parrafo2 {
    color: red;
}

.contenedor {
    background-color: rgb(255, 255, 255);
}

.contenedor2 {
    background-color: rgb(255, 255, 255);
}

.contenedores {
    background-color: white;
}

.resaltado {
    color: orange;
    font-weight: bold;
}

/* Clase para classList.add otra variante */
.nuevoEstilo {
    color: green;
    font-style: italic;
}

/* Clase para className */
.modificado {
    background-color: lightblue;
    color: white;
    padding: 5px;
}
.destacado {
    color: orange;
    font-weight: bold;
}



/* Para generar estructura */
.card {
    background-color: white;
    border: 1px solid black;
    width: 300px;
}

.card img {
    width: 100%;
    height: auto;
}

.card .info {
    padding: 15px;
    text-align: center;
}

.card .categoria {
    color: gray;
    font-size: 15px;
    margin: 0;
}

.card .titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.card .precio {
    color: green;
    font-weight: bold;
    font-size: 18px;
}