body {
  margin: 0;
  height: 100%;             /* Hace que el body ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;   /* Centra el contenido horizontalmente */
  align-items: center;       /* Centra el contenido verticalmente */
  flex-direction: column;    /* Asegura que los elementos se apilen verticalmente */
}

card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  font-family: sans-serif;
  background-color: aliceblue;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}

#map {
  height: 500px;
  width: 50%;
  margin-bottom: 20px;
}
