body {
  margin: 0;
  height: 100vh;             
  display: flex;
  justify-content: center;   
  align-items: center;       
  flex-direction: column;
  font-family: Arial, sans-serif;
  position: relative;
}

.contenedor {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

#map {
  height: 100vh;
  width: 100%;
  border: none;
  border-radius: 0;
}

.input-busqueda {
  padding: 10px 30px 10px 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;

  box-sizing: border-box;
}

.input-busqueda::placeholder {
  color: #999;
  font-size: 16px;
}

.input-busqueda:hover {
  border-color: #007BFF;
}

.tabladiv {
  position: absolute;
  width: 30%;
  top: 2%;
  left: 2%;
  z-index: 10;
}

.tablabutton {
  padding: 10px 10px 10px 10px;
  border: 1PX solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}