#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color:white;
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha{
    letter-spacing: 10px;
    font-size: 15px;
}

.animar{
    border:rgb(0, 0, 0) 2px solid;
    
}

#reloj_atras {
    background: linear-gradient(135deg, #b30000, #7a0000);
    color: white;
    padding: 25px;
    border-radius: 12px;
    width: fit-content;
    margin: 25px auto;
    text-align: center;

    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
}

#reloj_atras .reloj-contenedor {
    background: rgba(255, 255, 255, 0.15);
    padding: 12px 18px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

#reloj_atras #hora_atras,
#reloj_atras #fecha_atras {
    text-shadow: 0 0 5px #ffffffaa;
}
