h1 {
    text-align: center;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin: 16px 0 0 0;
  text-align: center;
}

img {
    width: 200px;
}
table {
    margin: 0 auto;
    border-spacing: 50px 0;
}