#parrafo {
    color: red;
}

.parrafo2 {
    color: red;
}

.contenedor {
    background-color: rgb(255, 255, 255);
}

.contenedor2 {
    background-color: rgb(255, 255, 255);
}

.contenedores {
    background-color: white;
}